# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:valiant-duck-108 # team: veneese-julia-lazaraga, project: appdev2-final-exam

EXPO_PUBLIC_CONVEX_URL=https://valiant-duck-108.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://valiant-duck-108.convex.site
